page-temperature{

  vertical-align: middle;
  position: relative;

  .scroll-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
  }

  .thermometer {
    display: inline-flex;
    width: 60vw;
    height: 60vw;
    background-color: rgba(79, 146, 58, 0.46);
    border-radius: 50%;
    border: solid 0.5px black;
    color: white;
    flex-direction: column;
    align-items: center;
    justify-content: center;

  }

  .temperature {
    font-size: xx-large;
    font-weight: bold;
    text-shadow: black 0 0 10px;
  }
}
